.loading {
  display: flex;
  justify-content: center;
}

.loading::after {
  content: "";
  height: 50px;
  width: 50px;

  border: 10px solid #dddddd;
  border-top-color: #009579;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
