* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: white;
  padding: 25px;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  /* vertical-align: center; */
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-template-areas:
    "pic-1 pic-1 pic-1 pic-1 pic-1 pic-1"
    "pic-2 pic-3 pic-4 pic-5 pic-6 pic-6"
    "pic-7 pic-7 pic-8  pic-9 pic-10 pic-10"
    "pic-11 pic-12  pic-13  pic-14 pic-15 pic-15"
    "pic-16 pic-17 pic-18 pic-19 pic-20 pic-20";
}
