* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: white;
  padding: 25px;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  /* vertical-align: center; */
}
.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.grid-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
