:root {
  --text-color: #271b1b;
  --link-color: rgb(87, 87, 155);
  --background-color: rgb(248, 236, 236);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);

  font-weight: 400;
  font-style: normal;
  background: #f0ebeb;
  font-size: 15px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}
nav .nav-left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600px;
}
nav .nav-right a {
  color: var(--text-color);
  margin: 0 10px;
  justify-content: space-between;
}
nav .nav-right ul li:last-child a {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
}
nav .nav-right ul li span {
  margin-left: 5px;
}
.nav-right ul {
  display: flex;
}
.nav-right ul li {
  list-style: none;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  gap: 45px;
  margin-bottom: 100px;
}
.hero-section .text {
  flex: 5;
}
.hero-section .text h2 {
  font-size: 45px;
}
.hero-section .text .link ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.hero-section .text .link ul a {
  /* list-style: none; */
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.1s;
}
.hero-section .text .link ul a:hover {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
.hero-section .text .link {
  margin-top: 25px;
}
.hero-section .photo {
  flex: 2;
  display: flex;
  justify-content: right;
}
.hero-section .photo img {
  border-radius: 50%;
  width: 300px;
}

.skill-section {
  padding: 0 50px;
  margin-bottom: 100px;
}
.skill-section h2 {
  text-align: center;
  font-size: 35px;
}
.skill-section .text {
  text-align: center;
  margin-bottom: 20px;
}
.skill-section .cells ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-section .cells ul .cell {
  width: 200px;
  padding: 10px 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.skill-section .cells ul .cell img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}
.skill-section .cells ul .cell span {
  font-size: 18px;
  font-weight: 600px;
  font-weight: bolder;
}
.testimony {
  padding: 0 50px;
  margin-bottom: 100px;
}
.testimony h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.testimony .group {
  display: flex;
  align-items: center;
  gap: 50px;
}
.testimony .group .pic-details {
  text-align: center;
  flex: 2;
}
.testimony .group .text {
  flex: 8;
}
.testimony .group .pic-details img {
  width: 200px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  margin-bottom: 10px;
}
.testimony .group .pic-text p {
  font-weight: 600;
  align-items: center;
}
.testimony .group .pic-details p:nth-last-child(2) {
  font-weight: 600;
}

.contact-box {
  background: white;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 60px 40px;
}
.contact-right {
  flex-basis: 40%;
  padding: 60px 40px;
  background: #483972;
  color: white;
}
h1 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 5px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
textarea {
  width: 100%;
  border: 1px solid;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label {
  margin-bottom: 6px;
  display: block;
  color: rgb(30, 30, 107);
}
button {
  background: rgb(30, 30, 107);
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  color: white;
  margin-top: 20px;
}
.contact-left h3 {
  color: rgb(30, 30, 107);
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-right h3 {
  font-weight: 600;
  margin-bottom: 20px;
}
tr td:first-child {
  padding-right: 15px;
}
tr td {
  padding-top: 20px;
}
.container {
  padding: 0 50px;
  margin-bottom: 100px;
}
footer {
  text-align: center;
  background: var(--text-color);
  color: #e4e0e0;
  padding: 1 rem;
}
