body {
  background-image: url(paper.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 20px;
}

.banner {
  width: 100%;
}

.title {
  text-align: center;
}
.container {
  column-width: 300px;
  column-gap: 2em;
  padding-bottom: 10px;
}

.paragraph {
  margin-top: 0px;
  font-size: 1.2em;
}

.col-img {
  width: 100%;
}
