* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 80%;
  margin: 1em auto;
  columns: 200px;
  column-gap: 10px;
}
main img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
