* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #e6dada;
  color: white;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 100vh;
}
.wrapper .card {
  background-color: rgba(121, 73, 255, 1);
  height: 350px;
  width: 500px;
  border-radius: 10px;
  margin: 200px;
  display: flex;

  justify-content: space-between;
  padding: 20px;
  /* position: absolute; */
}
.wrapper .card .img {
  height: 80px;
  width: 80px;
  position: absolute;
  margin-top: 58px;
}

.wrapper .card .img .img1 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  object-fit: cover;
  border: 5px solid rgb(252, 249, 249);
}
.card .img .img2 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  border: 5px solid rgb(252, 249, 249);

  object-fit: cover;
}
.card .img .img3 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  left: 120px;
  object-fit: cover;
  border: 5px solid rgb(252, 249, 249);
}
.card .img .img4 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  object-fit: cover;
  border: 5px solid rgb(252, 249, 249);
}
.card .img .img5 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  left: 240px;
  object-fit: cover;
  border: 5px solid rgb(252, 249, 249);
}
.wrapper .card .content .details {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.button {
  gap: 15px;
}
.button2 {
  background-color: rgba(42, 40, 47, 0.8);
} /* Blue */
