.checked {
  color: orange;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border-color: #f9f8f6;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 5px;
}
.card-container .card .card-img img {
  width: 100%;
  height: auto;
}
.card {
  width: 325px;
  background-color: #f0f0f0;
  margin: 25px;

  overflow: hidden;
  border-radius: 8px;
}

.card-img .text {
  position: absolute;
  color: rgb(238, 228, 228);
  background-color: black;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;

  left: 44%;
  top: 15%;
}
.card-img .text1 {
  position: absolute;
  color: rgb(243, 243, 243);
  background-color: black;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;

  left: 64%;
  top: 15%;
}
.card-content {
  padding: 16px;
}
.card-content h3 {
  font-size: 19px;
  margin-bottom: 8px;
}
.card-content p {
  color: rgba(98, 98, 100, 1);
  font-size: 15px;
  line-height: 1.3;
}
.card-content .pera1 {
  color: rgba(158, 158, 158, 1);
  margin-top: 5px;
}
.card-content .pera {
  color: rgba(98, 95, 104, 1);
}
.card-info {
  display: flex;
  justify-content: space-between;

  padding: 16px;
}
