* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgba(169, 169, 169, 1);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.box {
  max-width: 700px;
  background-color: white;
  padding: 20px;

  margin: 0px auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}
.title-small {
  font-size: 20px;
}
.form-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 10px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 15px;
}

input:focus {
  outline-color: black;
}
.button-container button {
  width: 168;
  height: 46;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  border: transparent;
  /* position: absolute;
  right: 200px; */
}
.button-container {
  margin-top: 98px;
  /* position: relative;
  left: 550px; */

  display: flex;
  justify-content: flex-end;
}

.text-control textarea {
  width: 100%;
}
.text-control {
  grid-column: 1 / span 2;
}

@media (max-width: 460px) {
  .text-control {
    grid-column: 1 / span 1;
  }
}
