.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  height: 250px;
}
.date {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
}
.day {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
}
#offday {
  background-color: red;
}
