* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}
body {
}
.invoice-table {
  border-collapse: collapse;
  width: 25em;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.15);
  margin: 25px auto;
}
.invoice-table thead tr {
  border-bottom: 1px dashed green;
}
.invoice-table tfoot tr {
  border-top: 1px dashed green;
}
.invoice-table thead tr td {
  font-size: 16px;
  letter-spacing: 1px;
  color: grey;
  font-weight: bolder;
  padding: 8px;
}
.invoice-table tbody tr td {
  color: green;

  padding: 8px;
}
.invoice-table tfoot tr td {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(136, 151, 79);
  font-weight: bolder;
  padding: 8px;
}
.invoice-table thead tr td:nth-last-child(1),
.invoice-table tbody tr td:nth-last-child(1),
.invoice-table tfoot tr td:nth-last-child(1) {
  text-align: right;
}
.invoice-table tbody span {
  font-size: 12px;
  color: grey;
}
