* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px;
}
.heading {
  width: 50%;
  padding-bottom: 50px;
}
.heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid red;
}
.heading h3 span {
  font-weight: 100;
}
.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.container .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
}
@media screen and (min-width: 912px) {
  .container .box {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
  }
  .container .box .dream {
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .container .box {
    flex-direction: column;
  }
  .container .box .dream {
    width: 100%;
  }
}
@media screen and (max-width: 642px) {
  .container .heading {
    width: 100%;
  }
}
@media screen and (min-width: 312px) {
  .container .heading h3 {
    width: 100%;
  }
}
