body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 15px;
  line-height: 1.6;
}
header {
  background-color: aquamarine;
  padding: 3px;
  text-align: center;
  border-radius: 20px;
}
header nav a {
  text-decoration: none;
  color: black;
  margin: 0px 10px;
}
main {
  /* display: flex;
  flex-wrap: wrap; */
  display: flex;
}
#post {
  flex: 3;
  margin-right: 20px;
}
.post {
  border: 1px solid red;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.Read-more {
  text-decoration: none;
  color: cadetblue;
}
#aside {
  flex: 1;
  padding: 15px;
  border: 1px solid red;
  border-radius: 10px;
}
#aside ul li a {
  text-decoration: none;
  color: black;
  list-style: none;
}
footer {
  text-align: center;
  background: black;
  color: #e4e0e0;
  padding: 1 rem;
}
