/* p {
  color: blue;
} */

/* div er vitore joto gula p ase sobai ke dhorbe */
/* body main div p {
  color: blue;
} */

/* child means div er vitore jei koyta child thakbe p sobaike nibe,
jodi div er vitore div o thake tahole setao div er child */
body > main > div > p {
  color: blue;
}

/* adjacent siblings meansdiv ses hoar por imediate je 
sbling thkabe just oita ke nibe */
/* div + p {
  color: blue;
} */

/* genral siblings means div ses hoar por er
 joto gula siblings ase sobaike dhorbe */
/* div ~ p {
  color: blue;
} */

body {
  background-color: azure;
}
nav {
}
.menu {
  list-style: none;
  padding: 0;
  display: flex;
  background-color: rgb(189, 189, 190);
  margin: 50px;
  align-items: center;
  text-align: center;
}
.menu li {
  margin: 0;
  align-items: center;
  text-align: center;
}
.menu li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  align-items: center;
  text-align: center;
}
.menu li a:hover {
  background-color: brown;
}
.menu li a:active {
  background-color: bisque;
}
.menu li a:focus {
  outline: 2px dashed yellow;
}
.menu li:first-child a {
  border-left: 2px solid yellow;
}
.menu li:last-child a {
  border-right: 2px solid yellow;
}
