* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #e6dada;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  align-items: center;
  justify-content: center;
  margin: 300px;

  height: 100vh;
}
.wrapper .card {
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-bg {
  width: 40px;
  height: 20px;
}
.wrapper .card .card-bg {
  height: 390px;
  width: 100px;

  object-fit: cover;
  position: absolute;
  left: 10px;
  right: 10px;
}
.wrapper .card .card-bg img {
  height: 150px;
  width: 380px;
  border-radius: 10px;
  object-fit: cover;
}
.card .content {
  height: 300px;
  width: 300px;
  align-items: center;
}
.wrapper .card .img {
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  margin-top: 50px;
  margin-bottom: 5px;
  background: rgb(247, 235, 235);
  border-radius: 50%;
  padding: 5px;
  align-items: center;
  text-align: center;
}
.card .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.details span {
  font-weight: 600;
  font-size: 18px;
  width: 100px;
}
.details {
  align-items: center;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.button2 {
  background-color: rgba(121, 73, 255, 1);
} /* Blue */
.details p {
  color: rgba(168, 166, 172, 1);
}
