body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #1a1a2e;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.nav {
  display: flex;
  gap: 15px;
}
.nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nav a:hover {
  color: #a8a8a8;
}
.content {
  max-width: 50%;

  align-items: center;
  justify-content: center;
}
.content h1 {
  font-size: 40px;
}
.content h1 span {
  color: #ff7b54;
}
.content p {
  color: #a8a8a8;
  line-height: 1.5;
}
.form-group {
  margin-top: 20px;
}
.image-container img {
  margin-top: 150px;
}
.form-group input {
  padding: 15px;
  width: calc(100% - 30px);
  margin-bottom: 15px;
  border: 2px solid #333;
  border-radius: 30px;
  background: #2e2e3a;
  color: #fff;
}
.form-group button {
  background: #ff7b54;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
}
.form-group button:hover {
  background: #e56b44;
}
.image-container {
  max-width: 50%;
  position: relative;
}
.image-container img {
  max-width: 100%;
  border-radius: 20px;
}
.ellipse {
  position: absolute;
  /* top: 20%; */
  left: -20%;
  bottom: -10%;
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #ff7b54, transparent);
  border-radius: 50%;
  z-index: -1;
}
