* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper1 {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-size: 20px;
  gap: 15px;
  font-weight: 600;
}
.wrapper1 > div {
  flex: 100%;
}
.header1,
.footer,
.content-1,
.content-2,
.content-3,
.content-4 {
  border: 5px solid blue;
  padding: 10px;
}

.main-content1,
.main1 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.main1 {
  flex: 2;
}
.main1 > div {
  flex: 1;
}
.main2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main2 > div {
  min-height: 233px;
}
.footer {
  min-height: 130px;
}
