* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  border: 2px solid red;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 20px;
}
.header,
.footer,
.content1,
.content2 > div > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid blueviolet;
}
.main-container {
  flex: 6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.content2,
.content1 {
  flex: 6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
/* .content2 > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
} */

.content2 > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
